<form class="forgetPasswordForm" [formGroup]="form" (ngSubmit)="submit()">
    <div class="input-container">
        <input formControlName="text" id="email" type="email" class="inputText" required/>
        <span class="floating-label">Email</span>
        <div class="error-message" *ngIf="form.get('email').invalid && form.get('email').touched">email is required</div>
    </div>
    <div class="input-container">
        <input formControlName="password" id="password" type="password" class="inputText" required/>
        <span class="floating-label">Password</span>
        <div class="error-message" *ngIf="form.get('password').invalid && form.get('password').touched">password is required</div>
    </div>
    <div class="input-container">
        <input formControlName="confirmPassword" id="confirmPassword" type="password" class="inputText" required/>
        <span class="floating-label">Confirm Password</span>
        <div class="error-message" *ngIf="form.get('confirmPassword').invalid && form.get('confirmPassword').touched">Password is required</div>
    </div>
    <div class = "error-message">
        <!-- <span *ngIf = "isCorrect">{{forgetPasswordErrorMessage}}</span> -->
    </div>
    <div class="button-container">
        <button class="forgetPassword-button" type="submit" [disabled]="!form.valid">Submit</button>
    </div>
</form>
        
 











