.button-container{
    padding-top: 20px;
    max-width: 1076px;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    .back-button{
        background: none;
        font-weight: bold;
        color:white;
        margin: 10px 0;
        border: none;
        outline: none;
        font-size: 24px;
    }
}
.student-details-container{max-width: 1076px;
width: 80%;
margin: 0 auto;}